.menuwidth {
    width: 100%;
    margin: 1rem 0rem;
    border-radius: 30px;
}

.cardmenu {
    border-radius: 53.5px;
    border: 1px solid #D3E7BF;
    background: #EAFCDB;
    margin: 0.5rem 1.5rem;
}

.cardmenu18 {
    border-radius: 34px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    width: 40%;
}

.cardmenu181 {
    border-radius: 34px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    width: 60%;
}

.menuflex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem 1rem;
}

.toprestmenu {
    border-radius: 9px;
    border: 1px solid #565656;
    width: 40%;
    margin-left: 2%;
    margin-top: -1rem;
    background: #FFF;
    text-align: center;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
    color: #565656;
    font-family: inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menuinpu {
    border-radius: 10px;
    border: 1px solid #CAE3B7;
    background: #FFF;
    height: 32px;
    width: 60%;
}

.addflex {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.southmenu {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1.298px solid #CAE3B7;
    background: #FFF;
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.southmenuedit {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1.298px solid #CAE3B7;
    background: #FFF;
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.southmenuactive {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1.298px solid rgba(65, 151, 0, 1);
    background: rgba(245, 255, 238, 1);
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.southmenuactivemenu {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1.298px solid rgba(65, 151, 0, 1);
    background: rgba(245, 255, 238, 1);
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active {
    font-weight: 800;
}

.southmenuitem {
    display: flex;
    height: 100%;
    width: 55%;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    border: 1.298px solid #CAE3B7;
    background: #FFF;
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.southmenuitemHistory {
    display: flex;
    // height: 18vh;
    width: 90%;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    border: 1.298px solid #CAE3B7;
    background: #FFF;
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.southmenuitemedit {
    width: 55%;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    border: 1.298px solid #CAE3B7;
    background: #FFF;
    margin: 1rem 1rem;
    color: #85AFA2;
    font-family: Inter;
    font-size: 18.982px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.switchinput {
    width: 10vw;
}

.activeiconsouth {
    background: #DFF3CF;
    padding: 0.1rem 0rem;
    display: flex;
}

.savebtnmenuedit {
    border-radius: 30px;
    background: #588A7A;
    color: #FFF;
    font-size: 14px;
}

.Entermenunamefont {
    margin-top: -1rem;
    background: #FFF;
    width: 40%;
    text-align: center;
    color: #588A7A;
    font-size: 14px;
}

.menuinpuedit {
    border: none;
    background: none;
}

.cardmenudetails {
    border-radius: 34px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    width: 100%;
    height: 100vh;
}

.basickmenufont {
    color: #588A7A;
    font-family: inter;
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 0em;

}

.colborderight {
    border-right: 1px solid #CAE3B7;
    height: 50vh;
}

.jamuncard {
    border: 1px solid #CAE3B7;
    background: #FFFFFF;
    border-radius: 12px;
    width: 80%;
    height: 30vh;
}

.nonvegfont {
    border: 1px solid #CAE3B7;
    background: #FFF;
    border-radius: 8px;
    color: #CAE3B7;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.vegfontbtn {
    border: none;
    background: #588A7A;
    border-radius: 8px;
    color: #CAE3B7;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

.Gulabfontstyle {
    color: #4C4C4C;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;

}

.nextbtn {
    background: #96C872;
    border: 1px solid #74A650;
    border-radius: 12px;
    color: #FFF;
    font-family: inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;

}

.inputrestmenuedit {
    height: 42px;
    border-radius: 10px;
    border: 1px solid #74A650;
    background: #F8FFF3;
    width: 100%;
    padding-left: 10px;
    color: #000000;
    font-family: inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.submitbtnmenu {
    background: #588A7A;
    border-radius: 15px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;

}

.createfont {
    color: #8C8C8C;
    font-family: inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;

}

.quantitycard {
    background: #F1FFE7;
    border: 1px solid #CAE3B7;
    border-radius: 15px;
    width: 70%;
    // height: 224px;
    padding: 1rem;
}

.addbtnmenuedit {
    background: #CAE3B7;
    border: 1px solid #588A7A;
    color: #588A7A;
    border-radius: 7px;
    font-family: inter;
    font-size: 13px;
    font-weight: 500;
}

.Quantityfont {
    color: #565656;
    font-family: inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;

}

.babyfontmenu {
    color: #588A7A;
    font-family: inter;
    font-size: 19px;
    font-weight: 500;

}

.radiostyle {
    border: 1.27px solid #588A7A;
    background: #FFFFFF;
    height: 16.57px;
    width: 16.57px;
    margin-top: 2%;
}

.addednewbtn {
    background: #F4F8E2;
    border: 1px solid #B5CFA1;
    color: #74A650;
    border-radius: 13px;
    transform: rotate(-90deg);
    font-family: inter;
    font-size: 13px;
    height: 40px;
    /* width: 45px; */
    margin-top: 19%;
    margin-left: -2rem;
    font-weight: 500;
}

.Gulabfont {
    color: #588A7A;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;

}

.Todayspecial {
    color: #8C8C8C;
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}


.Reffont {
    color: #4C4C4C;
    font-family: inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.APPROVEDbtn {
    background: #588A7A;
    border: 1px solid #CAE3B7;
    border-radius: 23px;
    color: #FFF;
    font-family: inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;

}

.timeonmenu {
    color: #8C8C8C;
    font-family: inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;

}

.rowbasic{
    margin: 0rem 1rem;
    gap: 0rem;
}

@media(max-width: 768px) {
    .rowbasic{
        margin: 0rem 0.5rem;
        gap: 1rem;
    }
}

@media(max-width: 1024px) {
    .rowbasic{
        margin: 0rem 0.5rem;
        gap: 0rem;
    }
    .colborderight {
        border-right: none;
        height: 100%;
    }
    
    .jamuncard {
        border: 1px solid #CAE3B7;
        background: #FFFFFF;
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }
    .cardmenudetails {
        border-radius: 34px;
        border: 1px solid #D1D1D1;
        background: #FFF;
        width: 100%;
        height: 100%;
    }
    .toprestmenu {
        border-radius: 9px;
        border: 1px solid #565656;
        width: 50%;
        margin-left: 2%;
        margin-top: -1rem;
        background: #FFF;
        text-align: center;
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
        color: #565656;
        font-family: inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cardmenu {
        border-radius: 8.5px;
        border: 1px solid #D3E7BF;
        background: #EAFCDB;
        margin: 0.5rem 0.5rem;
        text-align: center;
    }

    .menuwidth {
        width: 100%;
        margin: 1rem 0rem;
        border-radius: 6px;
    }

    .menuflex {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem 0.5rem;
    }

    .cardmenu18 {
        border-radius: 8px;
        border: 1px solid #D1D1D1;
        background: #FFF;
        width: 100%;
    }

    .cardmenu181 {
        border-radius: 8px;
        border: 1px solid #D1D1D1;
        background: #FFF;
        width: 100%;
    }

    .southmenuitem {
        display: flex;
        width: 95%;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
        border-radius: 15px;
        border: 1.298px solid #CAE3B7;
        background: #FFF;
        margin: 1rem 0.5rem;
        color: #85AFA2;
        font-family: Inter;
        font-size: 24.982px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .southmenuitemedit {
        width: 95%;
        padding: 0.5rem 0.5rem;
        border-radius: 15px;
        border: 1.298px solid #CAE3B7;
        background: #FFF;
        margin: 1rem 0.5rem;
        color: #85AFA2;
        font-family: Inter;
        font-size: 18.982px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .Entermenunamefont {
        margin-top: -1rem;
        background: #FFF;
        width: 60%;
        text-align: center;
        color: #588A7A;
        font-size: 14px;
    }

    .southmenuactive {
        width: 95%;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        border: 1.298px solid rgba(65, 151, 0, 1);
        background: rgba(245, 255, 238, 1);
        margin: 1rem 0.5rem;
        color: #85AFA2;
        font-family: Inter;
        font-size: 18.982px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}